---
import '../styles/global.css'
import Ga from '../components/ga.astro'

export type Props = {
  title: string;
  description: string;
  content: 'website' | 'artcle'
}

const { title, description, content } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
  <title>{title}</title>
  <meta name="description" content={description} />
  <meta property="og:title" content={title} />
  <meta name="og:description" content={description} />
  <meta property="og:type" content={content} />
  <meta property="og:site_name" content="kohsweblog" />
  <Ga />
</head>
<body>
  <slot />
  <footer>
    © {new Date().getFullYear()},
    <a href="https://koh.dev" target="_blank">
      kohsweb
    </a>
  </footer>
</body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  }
</style>
<style>
footer {
  margin: 2em 0 0 0;
  padding: 1em 0 1em 0;
  text-align: center;
  border-top: 1px solid #ccc;
}
</style>
