---
import '../styles/global.css'
import Ga from '../components/ga.astro'

export type Props = {
  title: string;
  description: string;
  content: 'website' | 'article'
  ogImagePath?: string;
  path: string;
}

const { title, description, content, ogImagePath, path } = Astro.props;

---

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
  <title>{title}</title>
  <meta name="description" content={description} />
  <meta property="og:title" content={title} />
  { ogImagePath && <meta property="og:image" content={`https://blog.koh.dev${ogImagePath}`} />}
  <meta property="og:url" content={`https://blog.koh.dev${path}`} />
  <meta name="og:description" content={description} />
  <meta property="og:type" content={content} />
  <meta property="og:site_name" content="kohsweblog" />
  <meta name="twitter:card" content="summary_large_image" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <slot name="head" />
  <Ga />
</head>
<body>
  <slot />
  <slot name="scripts" />
</body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  }
</style>