---
import type { CollectionEntry } from 'astro:content'
import '../styles/global.css'
import Ga from '../components/ga.astro'
import TweetButton from '../components/TweetButton.astro'
import { createDescription } from '../lib/post'

export type Props = {
  post: CollectionEntry<'blog'>
  prev: CollectionEntry<'blog'> | null
  next: CollectionEntry<'blog'> | null
}

const { post, prev, next } = Astro.props
const description = createDescription(post)

---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
    <meta name="description" content={description} />
    <title>{post.data.title}</title>
    <Ga />
  </head>
  <script
    src="https://b.st-hatena.com/js/bookmark_button.js"
    type="text/javascript"
    async
  />
<body>
  <main>
    <header>
      <h3><a href="/">kohsweblog</a></h3>
    </header>
    <h1>{post.data.title}</h1>
    <time>{post.data.date}</time>
    <div class="social">
      <TweetButton />
      <a
        href = "https://b.hatena.ne.jp/entry/"
        class="hatena-bookmark-button"
        data-hatena-bookmark-layout="basic-label-counter"
        data-hatena-bookmark-lang="ja"
        data-hatena-bookmark-height="28"
        title="このエントリーをはてなブックマークに追加"
      >
        <img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png"
          alt="このエントリーをはてなブックマークに追加"
          width="20"
          height="20"
          style="border: none;"
        />
      </a>
    </div>
    <slot />
    <hr>
    <ul class="post-selector">
     {prev && <li><a rel="prev" href={`/${prev.slug}`}> ← {prev.data.title}</a></li>}
     {next && <li><a rel="next" href={`/${next.slug}`}>{next.data.title} → </a></li>}
    </ul>
    <footer>
      © {new Date().getFullYear()},{' '}
      <a href="https://koh.dev" target="_blank">
        kohsweb
      </a>
    </footer>
  </main>
</body>
</html>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 50em;
  }
  header a {
    box-shadow: none;
    text-decoration: none;
    color: inherit;
  }
  h1 {
    border-bottom: 1px solid hsla(0,0%,0%,0.07);
  }
  .social {
    margin: 1em 0 0 0;
  }
  .post-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
  }
  hr {
    margin: 4em 0 4em 0;
  }
  footer {
    margin: 2em 0 0 0;
  }
</style>