---
import type { MarkdownHeading } from 'astro'
import type { CollectionEntry } from 'astro:content'
import '../styles/global.css'
import Layout from './Layout.astro'
import TweetButton from '../components/TweetButton.astro'
import Footer from '../components/Footer.astro'
import OgImage from '../components/OgImage.jsx'
import Toc from '../components/Toc/Toc.astro'
import { createDescription, buildToc } from '../lib/post'

export type Props = {
  post: CollectionEntry<'blog'>
  prev: CollectionEntry<'blog'> | null
  next: CollectionEntry<'blog'> | null
  headings: MarkdownHeading[]
}

const { post, prev, next, headings } = Astro.props
const description = createDescription(post)

const ogImagePath = `/ogimg/${post.slug}.png`
const imgFlag = true

---

<Layout
  title={post.data.title}
  description={description}
  content="article"
  ogImagePath={ogImagePath}
  path={`/${post.slug}`}
>
  <script
    slot="scripts"
    src="https://b.st-hatena.com/js/bookmark_button.js"
    type="text/javascript"
    async
  />
  <main>
    <header>
      <h3><a href="/">kohsweblog</a></h3>
    </header>
    <h1>{post.data.title}</h1>
    <time>{post.data.date}</time>
    <div class="tags">
      <span class="material-symbols-outlined">sell</span>
      <ul>
        {
          post.data.tags.map(tag => {
            return <li>#{tag}</li>
          })
        }
      </ul>
    </div>
    <div class="social">
      <TweetButton />
      <a
        href = "https://b.hatena.ne.jp/entry/"
        class="hatena-bookmark-button"
        data-hatena-bookmark-layout="basic-label-counter"
        data-hatena-bookmark-lang="ja"
        data-hatena-bookmark-height="28"
        title="このエントリーをはてなブックマークに追加"
      >
        <img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png"
          alt="このエントリーをはてなブックマークに追加"
          width="20"
          height="20"
          style="border: none;"
        />
      </a>
    </div>
    <div class="og">
      <div class="image">
        {imgFlag && <img style={{ maxWidth: '100%' }} src={`/ogimg/${post.slug}.png`} alt="og image" />}
        {!imgFlag && <OgImage title={post.data.title} />}
      </div>
    </div>
    <Toc headings={headings} />
    <slot />
    <hr>
    <ul class="post-selector">
     {prev && <li><a rel="prev" href={`/${prev.slug}`}> ← {prev.data.title}</a></li>}
     {next && <li><a rel="next" href={`/${next.slug}`}>{next.data.title} → </a></li>}
    </ul>
    <Footer />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 50em;
  }
  hr {
    margin: 4em 0 4em 0;
  }
  .social {
    margin: 1em 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: .5em;
  }
  .og {
    width: 100%;
    margin-top: 1em;
  }
  .og .image {
    aspect-ratio: 1200 / 630;
  }
  .post-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
  }
  .tags {
    display: flex;
    margin-top: 0.67em;
  }
  .tags ul {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
  }
  .tags li {
    margin-left: 0.5em;
  }
  .tags li:after {
    content: ","
  }
  .tags li:last-child():after {
    content: ""
  }
</style>